/* Applies to the entire page */
body {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
display: block;
margin: auto;
}

/* BYUI Logo */
.logo{
	margin-bottom: 30px;
		
}

#user-bar{
    height: 36px;
}

#top-search-container{
    padding: 20px 0px
}

#top-search-container #search{
    text-align: right;
}

#top-search-container #search input, #top-search-container #search .input-group-text{
    border-radius: 0px;
}

/* Applies spacing to the slideshow and the logo */
.margin-top{
	padding-top: 40px;
	margin-right: 20px;
}
input[type=text] {
    width: 250px;
}


h1 {
	font-size: 3rem;
    
}

/*Applies to h2 classes*/
.h2{
    font-family: 'Merriweather', serif;
    font-size: 2em;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    
}

/*Applies to h3 classes*/
.h3{
   font-size: 1.7em;
    padding-left: 80px;
    text-transform: uppercase; 
}

/*Applies to h4 classes*/
.h4{
    font-size: 1.5em;
    padding-left: 80px;
    padding-top: 10px;
}

/*Side navigation bar*/
.sub-menu ul.navigation{
    padding-left: 0px;
    font-size: 1.1em;
}

.sub-menu ul.navigation a{
    color: #212529;
}


/*The second nav bar on an info page*/
.nav-bar-2{
    font-size: 1.4em;
    letter-spacing: 2px;
    padding-left: 40px;
    
}

/*Blue buttons*/
.button{
    background-color: #1A4893;
    padding: 12px;
}


/*Related Links on an info page*/
#float-right{
    padding-right: 60px;
}



/*The Special Collections title*/

.tagline-upper {
    display: inline-block;
	font-size: 2.3em;
	font-weight: 100;
	line-height: 1;
    font-family: 'Merriweather', serif;
    padding-left: 0px;
    margin-top:0px;
    letter-spacing: 3px;
    vertical-align: middle;
}

.tagline-upper a{
    color: rgb(33, 37, 41) !important;
    text-decoration: none;
}
/*applies to all of the list style types in the site*/
li{
	list-style-type: none;
}

/*applies to a list when we want it to have bullet points - mainly infopage*/
.li-bulletpoints{
    list-style-type: inherit;
}


/* The figure captions for the home page gallery  */
.figure-caption{
    background-color: #1A4893;
	padding-top: 15px;
	padding-bottom: 10px;
	color: white; 
    margin-left: 55px;
    margin-right:55px;
    margin-top: -30px;
    position: relative;
    text-align: center;
}

/* The "search collections" link in the gallery homepage */
.searchcollections{
	font-family: 'Merriweather', serif;
	font-size: 2em;
	color: white;
	background-color: #535453;
	padding-top: 146px;
	padding-bottom: 2px;
	width: 300px;  
}

/* Makes the navigation text white #navcolor1-6*/

.navbar-collapse > .navbar-nav > .nav-item:first-child{
    display: none;
}

.navbar-light .navbar-nav .nav-link{
	color: #ffffff;
	font-size: 1.3em;
}

.navbar-light .navbar-nav .sub-link{
    color: #1A4893;
    display: inline-block;
    font-size: 1.0em;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .show>.nav-link{
    color: #FFFFFF;
}

ul.dropdown-menu{
    border-radius: 0px;
}

ul.dropdown-menu.show{
    width: 250px;
}

ul.dropdown-menu li:hover{
    background-color: #1A4893;
    text-decoration: none;
}

ul.dropdown-menu li:hover > ul.dropdown-menu{
    width: 250px !important;
    display: block;
    position: absolute;
    left: 96%;
    top: 5px;
}

.navbar-light .navbar-nav ul.dropdown-menu li.nav-item:hover > a.sub-link{
    color: #FFFFFF;
}


/*The blue box behind the navigation bar*/
.bg-faded {
	background-color: #000000;

}

hr.divider {
	border-color: #292b2c;
	max-width: 250px;
}

.navdivider {
	border-color: #292b2c;
	max-width:200px;
    margin-left:80px;
 
}

.navdivider2 {
	border-color: #292b2c;
	max-width:1500px;
   
 
}

/* Info Pages */
.sidemenu{}
div.sidemenu li a, div.sidemenu li a:visited{
    color: #1A4893 !important;
}
.sidemenu h3{
    border-bottom: 1px solid #000000;
}
.sidemenu ul{
    list-style-type: none;
    padding-left: 5px;
}
.header-image{
    height: 300px;
    width: auto;
}


/*applies to the footer*/
footer {
  color: white;
  padding: 40px 0;
  background-color:#535453;
}
/* Applies to the library.byui.edu link on the footer*/
    .font-sm{
	font-size: 1.2em;
}


/* Slideshow*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  color: white;
}

.slideshow-container .mySlides {
    display: none;
}

/* Next & previous buttons for slideshow */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 22px;

  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 18px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover, .next:hover {
  background-color: #1A4893;
}

/* The dots/bullets/indicators for slideshow */
.slideshow-container .dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #535453;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active, .dot:hover {
  background-color: #1A4893;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#link{
	color: white;
}

header .navbar{
    padding-bottom: 0px;
    padding-top: 0px;
}

/* unvisited link */
.navbar-nav a:link, footer a:link, .figure-caption a:link {
    color: white;
}

/* visited link */
.navbar-nav a:visited, footer a:visited, .figure-caption a:visited {
    color: white;
}

/* mouse over link */
.navbar-nav a:hover, footer a:hover, .figure-caption a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
.navbar-nav a:active, footer a:active, .figure-caption a:active {
    color: white;
}


/*Links in a list on the website*/

/* unvisited link */
li a:link {
    color: white;
}

/* visited link */
li a:visited {
    color: white;
}

/* mouse over link */
li a:hover {
    color: white;
}

/* selected link */
li a:active {
    color: red;
}

div li a{
	font-size: 1.2em;
    color: #1A4893;
}

div li a:link {
    color: #1A4893;
}

/* visited link */
div li a:visited {
    color: #1A4893;
}

/* mouse over link */
div li a:hover {
    color: #1A4893;
}

/* selected link */
div li a:active {
    color: #1A4893;
}


.breadcrumbs a{
	font-size: 1.2em;
    color: #1A4893;
}

.breadcrumbs a:link {
    color: #1A4893;
}

/* visited link */
.breadcrumbs a:visited {
    color: #1A4893;
}

/* mouse over link */
.breadcrumbs a:hover {
    color: #1A4893;
}

/* selected link */
.breadcrumbs a:active {
    color: #1A4893;
}






/* These links apply to the home page under "Explore further" */
.black a:link {
    color: #1A4893;
}

/* visited link */
.black a:visited {
    color: #1A4893;
}

/* mouse over link */
.black a:hover {
    color: #1A4893;
}

/* selected link */
.black a:active {
    color: #1A4893;
}

.black a{
	font-size: 1.7em;
}


/*Library link on all pages in footer*/
.library a{
	font-size: 1.2em;
    color: white;
}

div li a:link {
    color: white;
}


nav.pagination{margin-bottom:30px;font-size:20px;line-height:45px}.pagination input{text-align:center}.resource-list+.pagination{border-color:transparent}.pagination form{min-width:90px}.pagination form,.pagination .button,.pagination button,.pagination .page-count{display:inline-block;vertical-align:top;height:45px}.pagination .button{border:1px solid #dedede;background-color:#dedede;width:45px;text-align:center;padding:7.5px;border-radius:2px;color:#ababab;line-height:30px}.pagination .button:hover{background-color:#787878}.pagination .inactive.button{opacity:.5;background-color:white}.pagination .inactive.button:hover{background-color:white}.pagination form,.pagination .last{margin-right:7.5px}.pagination input{width:60px}
nav.pagination input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    height: 45px;
    border: 1px solid #dedede;
    padding: 6.5px 1.69492%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    vertical-align: top;
}

.search-filters{
    margin: 10px 0px;
}

.search-filters .filter-label{
    font-weight: bold;
}


.search-filters .filter-value{
    font-style: italic;
}

a.advanced-search{
    color: #1A4893;
}


/* Item - Search Results */

div.item.resource{
    margin-bottom: 10px;
    text-align: center;
}

div#content div.property a, div.item.resource .title a, div.item.resource .title a:visited{
    color: #1A4893;
    text-decoration: none;
}
div.item.resource .title a:hover{
    color: #1A4893;
    text-decoration: underline;
}
div#content .language{
    background-color: #cccccc;
    padding: 2px 4px;
}

#page-actions .button, #item-sets .button, #property-queries .button{
    border: none;
    color: #FFFFFF;
}

/*  Blocks */
.blocks > h2{
    margin-bottom: 20px;
}

/* Media Styles */
.lSSlideWrapper{
    height: 400px;
}
.lSSlideWrapper .media-render img{
    height: 400px;
}
.media-render{
    margin: 15px auto 0px;
}
.lSSlideOuter .lSPager.lSGallery{
    margin: 10px auto 15px !important;
}

.meta-properties .property{
    margin: 20px 0px;
}

/*Haven't had to use this yet*/
/*tablet view/ ipad view*/
@media screen and (min-device-width: 701px) and (max-device-width: 1024px) {

	
/*iPhone 5/ small devices */

@media screen and (min-device-width: 320px) and (max-device-width: 374px) {

}




   

}
	
	



/* iPhone 6/7 & bigger mobile screen sizes */
@media only screen and (min-device-width: 375px) and (max-device-width: 700px) {

	

 
	
}


/* iPad Pro and large screen sizes */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {




	
}

	
 
